*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Definisikan variabel warna di root */
  --color-primary: #640EF1;   /* Warna biru */
  --color-secondary: #080C2E; /* Warna hijau */
  --color-accent: #FFD15A;    /* Warna kuning */
  --color-danger: #ea4335;    /* Warna merah */
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.hover\:bg-accent:hover {
  background-color: var(--color-accent); 
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.bricolage-thin {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.bricolage-extralight {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.bricolage-light {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bricolage-regular {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bricolage-medium {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bricolage-semibold {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bricolage-bold {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bricolage-extrabold {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.bricolage-black {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bricolage-thin-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.bricolage-extralight-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.bricolage-light-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.bricolage-regular-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.bricolage-medium-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.bricolage-semibold-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.bricolage-bold-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.bricolage-extrabold-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.bricolage-black-italic {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 900;
  font-style: italic;
}
  
